:root {
	--text_color:                 hsl(0, 0.000%, 75.000%);
	--input_color:                hsl(192, 95.000%, 25.000%);
	--input_color_dark:           hsl(192, 95.000%, 22.000%);
	--input_text_color:           hsl(0, 0.000%, 100.000%);
	--highlight_color:            hsl(145, 63.000%, 42.000%);
	--highlight_color_dark:       hsl(145, 63.000%, 39.000%);
	--highlight_text_color:       hsl(0, 0.000%, 0.000%);
	--danger_color:               hsl(343, 63.000%, 42.000%);
	--danger_color_dark:          hsl(343, 63.000%, 39.000%);
	--file_background_color:      hsl(192, 87.000%, 5.000%);
	--scrollbar_foreground_color: hsl(192, 95.000%, 30.000%);
	--scrollbar_background_color: hsl(0, 0.000%, 0.000%);

	--background_color:           hsl(192, 100.000%, 5.000%);
	--body_color:                 hsl(192, 81.000%, 14.000%);
	--accent_color_headerbar:     hsl(192, 100.000%, 11.000%);
	--accent_color_dark:          hsl(192, 87.000%, 9.000%);
	--accent_color_medium:        hsl(192, 81.000%, 14.000%);
	--accent_color_light:         hsl(192, 95.000%, 17.000%);

	--shadow_color:     hsl(0, 0.000%, 0.000%);
	--shadow_spread:    10px;
	--shadow_intensity: 0px;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/* Overwrite bootstrap styles */
body {
	height: 100vh;
	background-color: var(--background_color);
	color: var(--text_color);
}
header {
	background-color: var(--accent_color_headerbar)
}
.navbar {
	-webkit-app-region: drag;
}
.navbar .container {
	margin-left: 0px;
	margin-right: 0px;
}
.navbar .buttons {
	right: 30px;
	position: absolute;
}
.navbar button,  
.navbar a { 
	-webkit-app-region: no-drag;
}
.navbar button:focus {
	outline: none !important;
}

.btn.btn-outline {
  background-color: transparent;
  background-image: none;
  border-color: var(--input_color_dark);
}

.btn.btn.btn-outline:hover {
	color: #fff;
	background-color: var(--body_color);
}

.btn-close {
	height: 40px;
}
.btn-close span {
	display: block;
	margin-top: -5px; /* You hate me, i hate css, deal with it */
}

a {color: var(--highlight_color)}
.bg-dark { 
	background-color: var(--accent_color_dark) !important; 
	box-shadow: inset 1px 1px 8px -1px var(--shadow_color);
}
.jumbotron-heading {color: var(--cyan)}
.body-color {background-color: var(--body-color)}
.lead.text-muted {color: var(--cyan) !important;}

.jumbotron {    border-bottom: 1px solid var(--shadow_color); margin-bottom: 0px;}

input[type=file]{
	visibility: hidden;
	position: static;
	width: 0;
	height: 0;
}

.upload-btn-wrapper {
	position: relative;
	/* overflow: hidden; */
	display: inline-block;
}

.btn {
	border: 2px solid var(--input_color_dark);
	color: var(--text_color);
	background-color: var(--input_color);
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.fornax {
	background: url('../images/background.jpg');
}
.image {
	width: 200px;
	height: 133px; /* 200 / 1.5 = ratio = 1200/800 */
}
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: var(--accent_color_dark) !important;
	padding-top: 10px;
	text-align: center;
}

.popup {
	background-color: hsl(192, 95.000%, 17.000%);
	box-shadow: hsl(0, 0.000%, 0.000%) 0px 0px 50px;
	border-color: hsl(192, 100.000%, 11.000%);
}
.popup .modal-footer,
.popup .modal-header {
	border-color: hsl(192, 100.000%, 11.000%);
}

::-webkit-scrollbar {
	width: 1em;
	height: 1em;
}
::-webkit-scrollbar-track {
	background: hsl(0, 0.000%, 0.000%);
}
::-webkit-scrollbar-thumb {
	background: hsl(192, 95.000%, 30.000%);
	border-radius: 0.5em;
	border: 0.22em solid hsl(0,0.000%, 0.000%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: HOVER_COLOR
}
::-webkit-scrollbar-corner {
	background: hsl(0, 0.000%, 0.000%)
}
.uploaded-files {
	/* height: -webkit-fill-available; */
	/* overflow-y:scroll; */
	padding: 35px;
}

#drop-area {
	border-bottom: 1px solid var(--shadow_color);
}
section, footer {
	opacity: 0.9;
}

.uploaded-files .btn-group {
	width: 100%;
}
.uploaded-files .btn-group .btn {
	color: var(--text_color);
}
#uploaded-files h5 {
	font-size: 16px;
}

#uploaded-files .card {
	opacity: 0.9;
	color: var(--cyan);
	background: var(--accent_color_dark);
}

.shortcuts .d-block .card {
	display: inline-block;
	margin: 0.5rem;
	background-color: var(--accent_color_light);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.shortcuts .d-block .card .card-img-top {
	height: 120px;
}
.shortcuts .d-block .card .card-title {
	margin-top: .3rem;
}

.card-deck {
  margin: 0 -15px;
  justify-content: center;
}

.card-deck .card {
	margin-bottom: 2rem;
}

/* Background-image is set with js to a base64 url */
.card-deck .card-img-top {
	width: 100%;
	height: 120px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}
